{% extends 'cyWebsite/base.html' %}
{% load static %}

{% block content %}
<section id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">

  <div class="carousel-inner">
    {% for i in list %}
    <div class="carousel-item {% if forloop.first %}active{% endif %}">
      <img src="{% static 'images/image' %}{{ i }}.png" class="d-block w-100 blur-effect uniform-size" alt="Slide {{ i }}">
    </div>
    {% endfor %}
    <div class="container ">
      <div class="row">
         <div class="col-md-6 col-lg-12">
            <div class="moi">
               <h2 class="lead">Bienvenue à StarCity</h2>
               <p class="plead">La ville où votre bien être passe avant tout.</p>
            </div>
         </div>
      </div>
    </div>
 
  </div>

  <ol class="carousel-indicators">
    {% for i in list %}
    <li data-target="#carouselExampleIndicators" data-slide-to="{{ forloop.counter0 }}" class="{% if forloop.first %}active{% endif %}"></li>
    {% endfor %}
  </ol>

</section>
{% endblock %}
