@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    font-family: 'Montserrat',Arial, sans-serif;
    margin: 0;
    padding: 0;
}
p {
    margin-top: 0;
    margin-bottom: 0rem;
}
h1 {
    background-color: #343a40; /* Couleur plus épurée */
    color: whitesmoke;
    text-shadow: 1px 1px 2px black;
    box-shadow: 10px 5px 5px grey;
    padding: 20px;
    text-align: center;
    border-radius: 15px; /* Bords arrondis */
    font-family: 'Roboto', sans-serif; /* Nouvelle police */
}

  .uniform-size {
    width: 100%;
    height: 100vh ; /* Ajustez la hauteur selon vos besoin */
    object-fit: cover;
  }

.moi {
    position: relative;
    text-align: left;
    color: #fff; /* Augmente la taille de la police */
    line-height: 1.5; /* Ajuste l'espacement entre les lignes */
    margin: 20px 0; /* Ajoute de l'espace autour */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Ajoute une ombre au texte */
   
}
.moi a{
    font-size: x-large;
}

#meteo {
    color: #000;
    text-align: center;
    background-color: white; /* Fond blanc */
    padding: 20px; /* Ajoute de l'espace à l'intérieur du rectangle */
    border-radius: 15px; /* Bords arrondis */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Ajoute une ombre légère */
    margin: 20px auto; /* Centre horizontalement et ajoute de l'espace autour */
    width: fit-content; /* Ajuste la largeur au contenu */
}
.head_index{
    min-height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
}

.lead {
    font-size: 78px;
}

.plead {
    font-size: 28px;
}

.navbar-nav .nav-link {
    font-weight: bold; /* Titres en gras */
}

#progression {
    -webkit-appearance: none;
    appearance: none;
    width: 80%;
    height: 20px;
}
#progression::-webkit-progress-bar {
    background-color: #eee;
    border-radius: 2px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}
#progression::-webkit-progress-value {
    background-color: #4caf50;
    border-radius: 2px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) outset;
}
.progress{
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
    width: 50%;
}

#equipment-list {
    margin: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.jumbotron {
    background-color: rgba(255, 255, 255, 0);
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    border-radius: 15px; /* Bords arrondis */
}

.card {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


