{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>CY_WEBSITE</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Custom Styles -->
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap" rel="stylesheet">
    <style>
        html, body {
            height: 100%;
            margin: 0;
            font-family: 'Roboto', sans-serif;
        }
        .wrapper {
            display: flex;
            flex-direction: column;
            min-height: 100vh;
        }
        .content {
            flex: 1;
        }
        body {
            background: url("{% static 'city_background.jpg' %}") no-repeat center center fixed;
            background-size: cover;
        }
    </style>
</head>
<body>
<div class="wrapper">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{% url 'index' %}">CY_WEBSITE</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                {% if user.is_authenticated %}
                <li class="nav-item"><a class="nav-link" href="{% url 'accueil' %}">Accueil</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'information' %}">Information</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'visualisation' %}">Visualisation</a></li>
                {% if user.xp_level in 'intermediate complex admin' %}
                    <li class="nav-item"><a class="nav-link" href="{% url 'news:gestion' %}">Gestion</a></li>
                {% endif %}
                {% if user.xp_level == 'admin' %}
                    <li class="nav-item"><a class="nav-link" href="{% url 'news:administration' %}">Administration</a></li>
                {% endif %}
                <li class="nav-item"><a class="nav-link" href="/admin/">Admin Django</a></li>
                {% endif %}
            </ul>
            <ul class="navbar-nav ml-auto">
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link btn btn-danger text-white" href="{% url 'user:logout' %}">Déconnexion</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'user:update_profile_picture' %}">
                        <img src="{% if user.profile_picture %}{{ user.profile_picture.url }}{% else %}{% static 'default_profile.png' %}{% endif %}" alt="Profile Picture" class="rounded-circle" style="width: 40px; height: 40px;" data-toggle="modal" data-target="#profileModal">
                    </a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'user:login' %}">Connexion</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'user:register' %}">Inscription</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>

    <div class="container content mt-4">
        {% block content %}
        {% endblock %}
    </div>

    <footer class="bg-light text-center text-lg-start mt-4 d-flex align-items-center" style="padding: 10px; font-size: 0.9rem; height: 50px;">
        <div class="container p-0.5 text-center">
            <p>&copy; 2025 CY_WEBSITE. Tous droits réservés.</p>
        </div>
    </footer>

    <!-- Profile Modal -->
    <div class="modal fade" id="profileModal" tabindex="-1" role="dialog" aria-labelledby="profileModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="profileModalLabel">Profile Information</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Here you can add more information about the user or options related to the profile.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
