{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Changer le mot de passe</title>
    <link rel="stylesheet" href="{% static 'styleuser.css' %}">
</head>
<body>
    <div class="form-container">
        <h1>Changer le mot de passe</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Changer le mot de passe</button>
        </form>
        <a href="{% url 'user:login' %}">Retour à la connexion</a>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
</body>
</html>
